@model IEnumerable<MIL_LIT.Comment>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentComment.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
