@model MIL_LIT.Tag


<h3 class="wr">Ви впевнені, що хочете видалити цю категорію?</h3>
<div>
    <h4 class="wr">@Model.Name</h4>
    <hr class="wr"/>
    <dl class="row wr">
        <dd class = "col-md-3">
        @if(Model.CoverImage != null)
            {
                <img height="300" width="300" class="fit-image"
                src = @Model.CoverImage
                alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                />
            } else
            {
                <img height="300" width="300" class="fit-image"
                src = https://www.survivorsuk.org/wp-content/uploads/2017/01/no-image.jpg
                alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                />
            }
        </dd>
        <dd class = "col-sm-9">
            <p>
                @Html.DisplayNameFor(model => model.CreatedAt)
                :    
                @Html.DisplayFor(model => model.CreatedAt)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
                :    
                @Html.DisplayFor(model => model.CreatedByNavigation.Login)
            </p>

            <p>
                Належить до категорії
                :    
                @Html.DisplayFor(model => model.ParentTag.Name)
            </p>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TagId" />
        <input type="submit" value="Видалити" class="btn btn-outline-danger my-3 me-3" />
        <a asp-action="Index" class="btn btn-outline-secondary my-3">Скасувати</a>
    </form>
</div>
