@model MIL_LIT.Tag

<div>
    <h4>Tag</h4>
    <hr />
    <dl class="row wr">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentTag.TagId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TagId" class="btn btn-outline-warning me-3 my-3">Редагувати</a>
    <a asp-action="Index" class="btn btn-outline-secondary my-3">Повернутися до списку категорій</a>
</div>