@{
    IEnumerable<Tag> Tags = ViewData["Tags"] as IEnumerable<Tag>;
    IEnumerable<Book> Books = ViewData["Books"] as IEnumerable<Book>;
}
<div class="row mb-3">

        <form class="d-flex" asp-action="Index" asp-controller="Tag" method="get">
            <div class="col-lg-6 me-3">
                    <input name = "SearchString" class = "form-control me-2" type = "search" placeholder="Пошук" aria-label="Search">
            </div>
            <button class="btn btn-outline-light" type="submit">Знайти</button> 
        </form>
</div>
<div class="row">
    <div class="col-lg-2 ">
        <a asp-action="Index" class="btn btn-outline-secondary d-flex text-center mb-3" >Усі категорії</a>
    </div>
    @if(User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <div class="col-lg-2">
            <a asp-action="Create" class = "btn btn-outline-success d-flex text-center mb-3">Додати нову категорію</a>
        </div>
    }
</div>

@if(Tags.Count() == 0 && Books.Count() == 0)
{
    <h4 class="wr">Дані відсутні</h4>
} 
else
{
    if(Tags != null && Tags.Count() > 0)
    {
        <p><h5 class="wr">Категорії:</h5></p>
        @foreach(var item in Tags)
        {
            <div class="card wr my-3" style="max-height: 160px;">
                <div class="row no-gutters">
                    <div class="col-sm-2">
                    @if(item.CoverImage != null)
                    {
                        <a asp-action="Details" asp-route-id="@item.TagId">
                        <img class="card-img fit-image" style="height: 160px; padding: 0; margin: 0;"
                        src = @item.CoverImage
                        alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                        />
                        </a>
                    } else
                    {
                        <a asp-action="Details" asp-route-id="@item.TagId">
                        <img  class="card-img fit-image" style="height: 160px; padding: 0; margin: 0;"
                        src = "~/resources/NoImage.png"
                        alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                        />
                        </a>
                    }
                    </div>
                    <div class="col-sm-8">
                    <div class="card-body">
                        <a asp-action="Details" asp-route-id="@item.TagId" style="text-decoration:none"><h5 class="card-title">
                            <strong>@item.Name</strong></h5>
                        </a>
                        
                        <p class="card-text">Сторив користувач: 
                            <a asp-action="Details" asp-controller="User" asp-route-id="@item.CreatedBy" style="text-decoration:none">
                            @Html.DisplayFor(modelItem => item.CreatedByNavigation.Login)
                            </a>
                        </p>
                        <p class="card-text">
                            Належить до категорії:
                            <a asp-action="Index for tag" asp-controller="Tag" asp-route-id="@item.ParentTagId" style="text-decoration:none">
                        @Html.DisplayFor(modelItem => item.ParentTag.Name)
                        </a>
                        </p>
                        <p class="card-text"><small class="text-muted">Дата створення: @Html.DisplayFor(modelItem => item.CreatedAt)</small></p>
                        
                    </div>
                    </div>
                    <div class="col-lg-2 align-self-center">
                        <div class="row">
                            @if(User.IsInRole("admin") || User.IsInRole("moderator"))
                            {
                                <div class = "col-lg-4 text-center d-flex">
                                    <a asp-action="Edit" asp-route-id="@item.TagId" style="text-decoration:none">
                                        <button class="btn btn-outline-warning">
                                                    <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </a>
                                </div>
                            }
                            <div class = "col-lg-4 text-center d-flex">
                                <a asp-action="Details" asp-route-id="@item.TagId" style="text-decoration:none">
                                    <button class="btn btn-outline-success">
                                        <i class="bi bi-folder2-open"></i>
                                    </button>
                                </a>
                            </div>
                            @if(User.IsInRole("admin") || User.IsInRole("moderator"))
                            {
                                <div class = "col-lg-4 text-center d-flex">
                                    <a asp-action="Delete" asp-route-id="@item.TagId" style="text-decoration:none">
                                        <button class="btn btn-outline-danger">
                                        <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    if(Books is not null && Books.Count() > 0)
    {
        <p><h5 class="wr">Книги:</h5></p>
        <div class="row">
            @foreach (var item in Books) {
                <div class="col-md-4 mb-4">
                <div class="card book-fixed-height wr">
                    <div class="text-center">
                        @if(item.CoverLink != null)
                        {
                            <a asp-action="Details" asp-controller="Book" asp-route-id="@item.BookId">
                            <img class="my-3 fit-image" height="300" width="200"
                            src = @item.CoverLink
                            alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                            />
                            </a>
                        } else
                        {
                            <a asp-action="Details" asp-controller="Book" asp-route-id="@item.BookId">
                            <img  class="my-3 fit-image" height="300" width="200"
                            src = https://media.tenor.com/V0p2LFhu4wAAAAAe/hello-kitty-no.png
                            alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                            />
                            </a>
                        }
                    </div>
                    <div class="card-body">
                        <h5 class="card-title card-title-container">
                            <a asp-action="Details" asp-controller="Book" asp-route-id="@item.BookId" style="text-decoration:none">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </h5>
                        <p class="card-text card-text-container">Автор: @item.Author</p>
                        <p class="card-text">Дата додавання: @item.CreatedAt</p>
                        <p class="card-text">Уподобали: @item.Likes</p>
                        <p class="card-text">Зберегли: @item.Saves</p>
                        <td>
                        </td>
                        <p class="card-text">
                            @if(@item.CreatedBy == null)
                            {
                                <p>Користувач видалений</p>
                            } else
                            {
                                <a asp-action="Details" asp-controller="User" asp-route-id="@item.CreatedByNavigation.Id" style="text-decoration:none">
                                    @Html.DisplayFor(modelItem => item.CreatedByNavigation.Login)
                                </a>
                            }
                        </p>
                        <div class="row">
                            @if(User.IsInRole("admin") || User.IsInRole("moderator"))
                            {
                                <div class="col-4 text-center d-flex">
                                    <a asp-action="Edit" asp-route-id="@item.BookId" asp-controller="Book" style="text-decoration:none" class="w-100">
                                        <button class="btn btn-outline-warning w-100">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-4 text-center d-flex">
                                <a asp-action="Details" asp-route-id="@item.BookId" asp-controller="Book" style="text-decoration:none color:#808000;" class="w-100">
                                    <button class="btn btn-outline-success w-100">
                                        <i class="bi bi-book"></i>
                                    </button>
                                </a>
                                </div>
                                <div class="col-4 text-center d-flex">
                                <a asp-action="Delete" asp-route-id="@item.BookId" asp-controller="Book" style="text-decoration:none" class="w-100">
                                    <button class="btn btn-outline-danger w-100">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </a>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 text-center d-flex">
                                <a asp-action="Details" asp-route-id="@item.BookId" asp-controller="Book" style="text-decoration:none color:#808000;" class="w-100">
                                    <button class="btn btn-outline-success w-100">
                                        <i class="bi bi-book"></i>
                                    </button>
                                </a>
                                </div>
                            }
                        </div>
                        
                    </div>
                </div>
            </div>
            }
        </div>
    }
}


