@model MIL_LIT.User
@{
    IEnumerable<Book> Books = ViewData["PublishedBooks"] as IEnumerable<Book>;
    IEnumerable<Like> Likes = ViewData["LikedBooks"] as IEnumerable<Like>;
}

<h3 class="wr">Ви впевнені, що хочете видалити цей обліковий запис?</h3>
<div>
    <div>
        <h4 class="wr"> @Html.DisplayFor(model => model.Login)</h4>
        <hr />
        <div class="row wr">
            <div class="col-md-3">
                @if(Model.ProfilePicture != null)
                    {
                        <img height="300" width="300" class="fit-image"
                        src = @Model.ProfilePicture
                        alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                        />
                    } else
                    {
                        <img height="300" width="300" class="fit-image"
                        src = "~/resources/NoImage.png"
                        alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                        />
                    }
            </div>
            <div class = "col-sm-2">
                @if(Model.IsAdmin)
                {
                    <p><strong>
                        Адміністратор
                    </strong></p>
                } else
                {
                    <p>
                        Користувач
                    </p>
                }
                <p>
                    Дата реєстрації: @Model.CreatedAt
                </p>
            </div>
        </div>
        @if(Books!=null && Books.Count()>0)
        {
            <p><h5 class="wr">Опубліковані книги:</h5></p>
                @foreach(var book in Books)
                {
                    <a class="me-2 mb-2 wr" asp-action="Details"  asp-controller="Book" asp-route-id="@book.BookId" style="text-decoration:none">
                        <button class="btn btn-outline-light">
                            @book.Name
                        </button>
                    </a>
                }
        }
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-outline-danger my-3 me-3" />
        <a asp-action="Index" class="btn btn-outline-secondary my-3">Скасувати</a>
    </form>
</div>