@model MIL_LIT.User
@{
    IEnumerable<Book> Books = ViewData["PublishedBooks"] as IEnumerable<Book>;
    IEnumerable<Like> Likes = ViewData["LikedBooks"] as IEnumerable<Like>;
}
<div>
    <h4 class="wr"> @Html.DisplayFor(model => model.Login)</h4>
    <hr />
    <div class="row wr">
        <div class="col-md-3">
            @if(Model.ProfilePicture != null)
                {
                    <img height="300" width="300" class="fit-image"
                    src = @Model.ProfilePicture
                    alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                    />
                } else
                {
                    <img height="300" width="300" class="fit-image"
                    src = "~/resources/NoImage.png"
                    alt = "Нема хліба, нема сала, Калі - Юга все забрала"
                    />
                }
        </div>
        <div class = "col-sm-4">
            @if(Model.IsAdmin)
            {
                <p><strong>
                    Адміністратор
                </strong></p>
            } else
            {
                <p>
                    <strong>
                        Користувач
                    </strong>
                </p>
            }
            <p>
                Дата реєстрації: @Model.CreatedAt
            </p>
        </div>
    </div>
    @if(Books!=null && Books.Count()>0)
    {
        <p><h5 class="wr">Опубліковані книги:</h5></p>
            @foreach(var book in Books)
            {
                <a class="me-2 mb-2 wr" asp-action="Details"  asp-controller="Book" asp-route-id="@book.BookId" style="text-decoration:none">
                    <button class="btn btn-outline-light">
                        @book.Name
                    </button>
                </a>
            }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning me-3 my-3">Редагувати</a>
    <a asp-action="Index" class="btn btn-outline-secondary my-3">Повернутися до списку користувачів</a>
</div>